<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="new-post">
        <ion-icon name="create"></ion-icon>
        <ion-label>New Post</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="post-list">
        <ion-icon name="list"></ion-icon>
        <ion-label>Post List</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  